<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!--
  <span>Logo</span>
  <span>Welcome</span>
  -->
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!-- Resources -->
  <h2>Resources</h2>
  <ul>
    <li><a href="/content/common/preamble_de.md" target="_blank">Präambel</a></li>
    <li><a href="/content/daily_sobriety_renewal/Taegliche_Erneuerung.pdf" target="_blank">Daily sobriety renewal (DE)</a></li>
    <li>
      <span>Meeting Formats</span>
      <ul>
        <li><a href="/content/meetings/we_consider_our_plans_for_the_day/Sorgfaeltig_planen_wir_den_Tag_Meeting.pdf" target="_blank">We consider our plans for the day (DE)</a></li>
      </ul>
    </li>
  </ul>

  <!-- Footer -->
  <footer>
  </footer>

</div>
<router-outlet></router-outlet>
